@font-face {
	font-family: "navfont";
	src: url(fonts/Analecta306.otf);
}

@font-face {
	font-family: "titlefont";
	src: url(fonts/Courier_New.ttf);
}

@font-face {
	font-family: "contentfont";
	src: url(fonts/Vera.ttf);

}

body {
	display: block;
	margin: 0px;
	width: 100%;
	background-image: url("images/BodySlate.png")
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-width: 780px;
	max-width: 1920px;

}

.base {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	margin-right: -4px;
	height: 100%;
}

a {
	text-decoration: none;
	font-family: titlefont;
	color: #000000;
	font-size; 18px;
}

a:hover {
	font-weight: bold;
}

#leftbar {
	width: 5.2493433832%;
	min-width: 0px;
	max-width: 100px;
	opacity: 0;
}

#data {
	width: 61.94225722%;
	max-width: 1180px;
	background-color: rgba(0,66,1,0);
	vertical-align: top;
}

#titlebox {
	width: 93.89830508%;
	max-width: 1108px;
	height: 80px;
	background-color: rgba(255,251,229,1);
	margin: 1.694915254%;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 1.271186441%;
	padding-top: 18px;
	padding-bottom: 18px;
	border: solid #000000 1px;
	border-bottom: dashed #ECE5C0 1px;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	font-size: 75px;
	color: #000000;
	font-family: titlefont;
	text-align: center;
	line-height: 80px;
}

#databox {
	width: 93.89830508%;
	max-width: 1108px;
	min-height: 733px;
	background-color: rgba(255,255,255,1);
	margin: 1.694915254%;
	margin-top: 0px;
	padding: 1.271186441%;
	padding-top: 15px;
	border: solid #000000 1px;
	border-top: 0px;
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	font-size: 16px;
	color: #000000;
	font-family: contentfont;
	text-align: left;
}

#contentbox {
	width: 100%;
	height: 100%;
	max-width: 1108px;
	padding-left: 5px;
	padding-right: 5px;
}

.Logos {
	display: inline-block;
	width: 145px;
	height: 145px;
	background-repeat: no-repeat;
}

#Twitter {
	background-image: url(images/Twitter.png);
}

#YouTube {
	background-image: url(images/YouTube.png);
}

#Facebook {
	background-image: url(images/Facebook.png);
}

#Tumblr {
	background-image: url(images/Tumblr.png);
}

#SoundCloud {
	background-image: url(images/SoundCloud.png);
}

#navbar {
	width: 15.7480315%;
	min-width: 215px;
	max-width: 300px;
	background-color: rgba(0,0,0,0.8);
}

#allnavitems {
	width: 15.7480315%;
	min-width: 215px;
	max-width: 300px;
	position: fixed;
}

#allnavpic {
	max-width: 300px;
	max-height: 400px;
	margin: auto;
}

#picnav {
	max-width: 300px;
	max-height: 400px;
	margin: auto;
	vertical-align: center;
}

#navimg {
	width: 215px;
	height: 215px;
	background-image: url("images/Navimgcontact.png");
	background-repeat: no-repeat;
	vertical-align: center;
	margin: auto;
	opacity: 1;
}

.navbuttons {
	max-width: 300px;
	height: 50px;
	display: block;
	text-align: center;
	font-family: navfont;
	color: #C6C6C6;
	font-size: 20.6px;
	line-height: 50px;
}

#Home{

}

#About{

}

#IT{

}

#Music{

}

#Photo{

}

#Harmelodic{

}

#Contact{

}

#rightbar {
	width: auto;
	min-width: 0%;
	max-width: 17.06036745%;
	opacity: 0;
}

#footer {
	width: 100%;
	max-width: 1920px;
	height: 50px;
	margin-top: -5px;
	background: rgba(0,0,0,0.6);
	border-top: #000000 solid 3px;
	font-size: 13px;
	color: #ffffff;
	font-family: titlefont;
	text-align: center;
	line-height: 50px;
}

#footer:hover {
	text-decoration: none;
}

#statedfooter {
	text-decoration: underline;
	color: #ffffff;
}
